<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyHotel</display-name>
  <servlet>
    <servlet-name>TraiteLoginMyHotel</servlet-name>
    <servlet-class>dz.myhotel.servlet.TraiteLoginMyHotel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraiteLoginMyHotel</servlet-name>
    <url-pattern>/MyHotel/src/dz/myhotel/servlet/TraiteLoginMyHotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TraiteAjoutChambre</servlet-name>
    <servlet-class>dz.myhotel.servlet.TraiteAjoutChambre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraiteAjoutChambre</servlet-name>
    <url-pattern>/MyHotel/src/dz/myhotel/servlet/TraiteAjoutChambre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TraiteListeChambre</servlet-name>
    <servlet-class>dz.myhotel.servlet.TraiteListeChambre</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraiteListeChambre</servlet-name>
    <url-pattern>/Traite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TraiteAjoutReservation</servlet-name>
    <servlet-class>dz.myhotel.servlet.TraiteAjoutReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraiteAjoutReservation</servlet-name>
    <url-pattern>/AjoutReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TraiteListeReservation</servlet-name>
    <servlet-class>dz.myhotel.servlet.TraiteListeReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraiteListeReservation</servlet-name>
    <url-pattern>/TraiteReserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TraiteChambreButttons</servlet-name>
    <servlet-class>dz.myhotel.servlet.TraiteChambreButttons</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraiteChambreButttons</servlet-name>
    <url-pattern>/AddButton</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TraiteModificationChambre</servlet-name>
    <servlet-class>dz.myhotel.servlet.TraiteModificationChambre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraiteModificationChambre</servlet-name>
    <url-pattern>/ModifChambre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TraiteReservationButtons</servlet-name>
    <servlet-class>dz.myhotel.servlet.TraiteReservationButtons</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraiteReservationButtons</servlet-name>
    <url-pattern>/AddButtonReserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TraiteListeClient</servlet-name>
    <servlet-class>dz.myhotel.servlet.TraiteListeClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraiteListeClient</servlet-name>
    <url-pattern>/TraiteClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TraiteAjoutRessource</servlet-name>
    <servlet-class>dz.myhotel.servlet.TraiteAjoutRessource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraiteAjoutRessource</servlet-name>
    <url-pattern>/TraiteAjoutRes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TraiteListeRessource</servlet-name>
    <servlet-class>dz.myhotel.servlet.TraiteListeRessource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraiteListeRessource</servlet-name>
    <url-pattern>/TraiteRes</url-pattern>
  </servlet-mapping>
</web-app>